*~
,*
.*.swp
.*.swo
.\#*
\#*\#
.direnv
.nixos-test-history
.vscode/
.trunk/
.*.code-workspace
outputs/
/**/result-*
/**/result
/**/repl-result-*
/**/result`
.version-suffix
paths.cache
.DS_Store
.mypy_cache
__pycache__
.envrc.*
